* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: #C77947;
}

h1, h2 {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}

h1 {
    font-size: 50px;
    color: #f97e70;
}

h2 {
    font-size: 25px;
    color: #FBC4BE;
}

a {
    color:#C7665B;
}

.main-text {
    text-align: justify;
    color:#94877F;
    margin-bottom: 25px;
}

.author-text {
    color:#94877F;
    font-size: 22px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

.container {
    width: 1140px;
    margin: 20px auto 0 auto; /* top right bottom left*/
}

.blog-post {
    background-color: #ffe7e7;
    width: 75%;
    float: left;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 5px;
}

.other-posts {
    background-color: #d8d8d8; 
    width: 25%;
    float: left;
    overflow: hidden;
}

.author-box {
    background-color: #fccce2;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    border-top: 1px solid #94877F;
    float: left;
    width: 100%;
}

.other {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.author-box img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}